doctype html
html
  head
    meta(charset='utf-8')
    title Web Summer Camp 2017 Workshop | Dashboard
    link(rel='stylesheet' href='/bootstrap/bootstrap.min.css')
  body
    .container
      h1 Dashboard
      .alert.alert-success You have successfully logged in!
    script(src='/scripts/app.js')
