doctype html
html
  head
    meta(charset='utf-8')
    title Web Summer Camp 2017 Workshop
    link(rel='stylesheet' href='/bootstrap/bootstrap.min.css')
  body
    .container
      h1 Login
      #message.alert.alert-danger(class={'sr-only': !message})= message
      form#login-form(method='post' action='/' enctype='multipart/form-data')
        .form-group
          label(for='username') Email address
          input.form-control(type='text' name='username' id='username' autocomplete='username')
        .form-group
          label(for='password') Password
          input.form-control(type='password' name='password' id='password' autocomplete='current-password')
        input.btn.btn-default(type='submit' value='Login')
    script(src='/scripts/app.js')
